{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <form action="." method="post">{% csrf_token %}
    {% if form.errors %}
        <p id="instruction">The Password Is Too Easy Or It Didn't Match.</p>
    {% endif %}

    <div class="form_row">
        {{ form.old_password.label_tag }} {{ form.old_password }}
    </div>

    <div class="form_row">
        {{ form.new_password1.label_tag }} {{ form.new_password1 }}
    </div>

    <div class="form_row">
        {{ form.new_password2.label_tag }} {{ form.new_password2 }}
    </div>
<div class="form_row">
    <button type="submit">Change Password</button>
</div>

</form>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>


{% endblock content %}
