{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <form action="." method="post" enctype="multipart/form-data">{% csrf_token %}
    {% if form.errors %}
        <p id="instruction">The Password Is Too Easy Or It Didn't Match.</p>
    {% endif %}

    <div class="form_row">
        {{ form.title.label_tag }} {{ form.title }}
    </div>

    <div class="form_row">
        {{ form.image.label_tag }} {{ form.image }}
    </div>

    <div class="form_row">
        {{ form.description.label_tag }} {{ form.description }}
    </div>
<div class="form_row">
    <button type="submit">Generate</button>
</div>

</form>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>


{% endblock content %}
