{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <form action="." method="post">{% csrf_token %}
    {% if form.errors %}
        <p id="instruction">The Password Is Too Easy Or It Didn't Match.</p>
    {% endif %}

    <div class="form_row">
        Are you sure you want to delete it? This cannot be undone!
    </div>
<div class="form_row">
    <button type="submit">Delete</button>
</div>

</form>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>


{% endblock content %}