{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<head>
    <style>
        h1{
        text-align:center;
        }
        p{
        text-align:center;
        }
    </style>
</head>
<h1><strong>Factory Town Tycoon</strong></h1>
<p>Factory Town Tycoon is typical tycoon, which is completly different from other tycoons. but also hard to understand.
here's tips for this game:<br>
1. Once started, you can take tutorial quests from npc nearby(QuestNPC). Follow the tutorial, until base building.<br>
2. Now you know how to build your base, build another electric saw. connect it to electric saw you already built.<br>
3. Unlock the "Carpenter" Recipe. Build it as connected to electric saw. If there aren't space left at electric saw,
maybe you can move it or use "Corner" conveyor. You might need "WoodFrame" to build it, you can buy it.<br>
4. Once you built the carpenter, Open its panel and set it to "WoodFrame". Buy nails from Blacksmith and
Chop trees and place them at electric saw.<br>
5. You might see planks going out from the carpenter. This can be solved by using spacer behind the carpenter.
    spacer can have time between dispensing items.<br>
Short, but that is all the tip i can give you for this game. The objective of this game is building the best factory
or house, Either or both. YOU build the factory yourself, with your own creative ideas. so i cannot give much tips
    about this game.</p>
{% endblock content %}