{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<head>
    <style>
        h1{
            text-align:center;
        }
        p{
            text-align:center;
        }
    </style>
</head>
<body>
<p>We're Working on this page and may not contain much things.</p>
<h1><strong>Resource Factory Tycoon</strong></h1>
<p>Resoure Factory Tycoon is an awesome game, But not popular because of worst tutorial. For anyone who plays it,
ill write here useful tips about the game.<br>
    Instructions:
    You can buy "Factory" from robo mart, whatever factory you want. and you must buy a "Ore Mine" or different
    thing depend on your factory's ingredient. you must place them on correct ore or resource, then active
    robots and set factory, mine, waypoints to make robot bring your resources from mines. use conveyors to put
    your product to other factory which needs it to produce or storage. store them in your vehicle and dispense
    <br>
1. How to craft items and the recipes:<br>
    <strong>How to craft:</strong><br>
On the mountain, you can find a closed path. Go up to road and you'll see an another road. Go to first different
road you found, and search around to find the closed path. Once you notified its location, give "The Key" to
crazy bernie. You might saw him when you were driving on road. Then, the closed path will be opened. Go inside
the closed path and you'll see a structure like a temple. Place ingredients on white pillars and there will be
result on the temple.<br>
    <strong>Crafting recipes and uses:</strong><br>
1. Easter idol : All farberge eggs including palladium egg<br>
   Uses: You'll get 30 % discount when buying items.<br>
2. Easter hauler : All antiques including rabbit antique<br>
   Uses: This hauler is much faster than others.<br>
3. Alien Technology Factory Addon : Blue orb + Gold + Adamite<br>
   Uses: Factories with this addon can produce items using alien technology.<br>
    (Vehicle body factory + Addon = Rocket Body Production)<br>
4. Conundrum Enhancer Factory Addon : Blue orb + Gold + Conundrum<br>
    Uses: Doubles the conundrum life if used in factory.<br>
5. Single-Use Rocket Factory : Red orb + Gold + Adamite<br>
    Uses: Can produce single-use rockets which is expensive than autonomous haulers when sold.<br>
</p>
</body>
{% endblock content %}