{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<head>
    <style>
        h1{
        text-align:center;
        }
        p{
        text-align:center;
        }
    </style>
</head>
<h1><strong>Restaurant Tycoon 2</strong></h1>
<p>Restaurant tycoon is second version of restaurant tycoon. It has lots of new features.
Here's some information for restaurant tycoon 2:<br>
1. Customers will enter if there is any seats and tables left, and they'll wait until waiter or player guide their table.
you can simply just click them and click the right table for customer count. <br>
2. Once customer find their seats, Some of them will order starters if you have some in your menu. But all of customers
always order main courses. After the main course, Some of them will order desserts, same way with starter course.
(starters -> main course -> desserts) <br>
3. After you cooked the dish, it will apper at order station. click them to hold them in your hand and click customers
to give them. you can hold up to 3 dish with waiter tray upgrade.
4. You can see the price of your dishes at menu, but you can improve the price of your dishes by leveling up to 11
or higher. level 11 ~ 14 can make silver dishes, and level 14 or higher can make gold dishes. <br>
5. Once the customers eat all foods, you or your waiter have to collect their dishes. Simply just click their dishes and its done.
<br>
6. Customers will pay if they ate all foods until dessert, you can click to collect the money on table. if there is
money on table, customers cant sit there. make sure to always collect cashes often. but with the card payment upgrade,
50 % of your customers will pay with cards, so you don't have to collect the money. but with auto money collect gamepass,
you can turn this to 100 %. <br>
7. If you hire a chef, somehow they are trainee chef. You have to teach them about cooking. You just have to cook yourself
for like 5 dishes. After that, if there is order, chef will take order and cook it. If you take the order, they don't.
You have to cook yourself if you take the order. <br>
8. if chef level up, their cooking speed will be faster. like i said before, if they are 11 ~ 14 level they can cook
silver dishes, 14 or above can cook gold dishes. <br>
9. Once you hire waiter, it will for in place like collecting dishes, taking order, guiding table for customers,
taking foods to customers.<br>
10. Waiter level changes the speed of waiters. It also matters about "Service" rating.<br>
11. Max level of chefs and waiters are 15.<br>
12. You can hire up to 5 chefs and 5 waiters, but with more worker gamepass, you can hire 10 chefs and 10 waiters.<br>
13. Adversiting upgrade will increase the "Popularity" rating.<br>
14. Tip jar upgrade lets you buy tip jar from EKEA, but not very profitable. just like 10 cash every customers.
Sometimes they don't give tips.<br>
15. At EKEA, you can buy tables, seats and decorations. Without the Mega Tables gamepass, you can make a table for up to
8 customers. But with the mega tables gamepass, You can make table for up to 20 customers.<br>
16. Instead of having much small tables, having large tables are more profitable and better.<br>
17. Decorations rating can be improved by having expensive seats, tables, and decorations.<br>
18. Service rating can be improved by having high level waiters and serving customers fast.<br>
19. Food rating can be improved by having high level chefs.<br>
20. Experience rating can be improved by having much space on table and giving customers background music.<br>
21. Cleanliness rating will be new feature that will be added soon when you can wash dishes.<br>
22. To unlock new dishes, you need to open some food boxes. You can open them with skill points you earned
(cooking, taking order, etc.). You can also buy drinks pack by clicking crown icon at bottom screen and
open some drink boxes.<br>
23. You need drinks fridge to sell drinks. If you have drinks in menu, customers will order like this:
(drinks -> starters -> main course -> desserts)<br>
24. At the construction store, you can buy some structures like walls or windows. Also you can buy
a stairs.
25. Second floor upgrade will give your restaurant a second floor. You can use stairs to make path to second
    floor. you can decorate second floor as same you did with first floor.<br></p>
{% endblock content %}