<!doctype html>
<html lang="en">
{% load staticfiles %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>RBLXTips</title>
      <link href="https://fonts.googleapis.com/css?family=Mansalva&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
      <style>
          body{
          background-color: rgb(252,252,235);
          }

          #content{
          position:relative;
          }
          video{
            width:100%;
          }
          #made,#title{
            font-family: 'Pacifico', cursive;
          }
          #title{
            font-size: 40px;
          }
          #made{
            font-size: 20px;
          }
          .main_text{
            position: absolute;
            text-align:center;
            width:100%;
            transform: translate(-50%, -50%);
            color: white;
          }
          #username{
            color:greenyellow;
          }
          #Dlab{
            color:orangered;
          }
          #text1{
            top:18%;
            left:50%;
          }
          #text2{
            top:40%;
            left:50%;
          }
          input{
            width:100%;
            height:30px;
            padding:0px;
            border-width;
            border-radius:5px;
            border:1px solid lightgray;
          }
          .form_row{
            margin-top:10px;
            matgin-bottom:10px;
          }
      </style>
  </head>
  <body>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>


    <nav class="navbar navbar-default" style="background-color: rgb(100,155,222)">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar" style="background-color: rgb(255,255,255)"></span>
        <span class="icon-bar" style="background-color: rgb(255,255,255)"></span>
        <span class="icon-bar" style="background-color: rgb(255,255,255)"></span>
      </button>
        <strong><a class="navbar-brand" href="#" style="font-family: 'Mansalva', 'cursive'; color: Red">RBLXTips</a></strong>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'blog_index' %}">Blog</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Created Tip Sites <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'elemental_battleground' %}">Elemental Battlegrounds(한국어 번역 포함됨)</a></li>
            <li><a href="{% url 'factory_town_tycoon' %}">Factory Town Tycoon</a></li>
            <li><a href="{% url 'resource_factory_tycoon' %}">Resource Factory Tycoon</a></li>
            <li><a href="{% url 'restaurant_tycoon_2' %}">Restaurant Tycoon 2</a></li>
              <li><a href="{% url 'critical_strike' %}">Critical Strike</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{% url 'lua_coding' %}">Lua Coding On Roblox</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
        {% if user.is_active %}
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Hello</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              {% firstof user.get_short_name user.get_username %} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'logout' %}">Sign out</a></li>
            <li><a href="{% url 'password_change' %}">Password change</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{% url 'admin:index' %}">Admin</a></li>
          </ul>
        </li>
      </ul>
        {% else %}
        <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Welcome,</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              Anonymous
              <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'login' %}">Sign in</a></li>
            <li><a href="{% url 'register' %}">Sign up</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{% url 'admin:index' %}">Admin</a></li>
          </ul>
        </li>
      </ul>

        {% endif %}
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!-- -->
    {% block content %}{% endblock %}
<!-- -->


<!--contact start-->

<div class="container-fluid" id="contact">
    <h3 class="text-center">CONTACT</h3>
    <br>
    <div class="row">
        <div class="col-sm-5">
            <p>Contact us and we'll get back to you within 24 hours.</p>
            <p><span class="glyphicon glyphicon-map-marker"></span> Seoul, KOREA</p>
            <p><span class="glyphicon glyphicon-phone-alt"></span> 010-2589-2472</p>
            <p><span class="glyphicon glyphicon-envelope"></span> jjahn@daddyslab.com</p>
        </div>
        <div class="col-sm-7">
        <div class="row">
            <div class="col-sm-6 form-group">
            <input class="form-control" placeholder="Name">
            </div>
            <div class="col-sm-6 form-group">
            <input class="form-control" placeholder="Email">
            </div>
        </div>
        <textarea class="form-control" placeholder="comments"></textarea>
            <br>
            <div class="row">
            <div class="col-sm-12 form-group">
                <button class="btn btn-default navbar-btn pull-right" type="submit">Send</button>
            </div>
            </div>
        </div>

    </div>
</div>






  </body>
</html>



